
button {
    width: 25px;
    height: 25px;
    margin: 5px;
    background-color: whitesmoke;
    border-radius: 2px;
    border: 1px solid darkgrey;
    color: darkgrey;
    box-shadow: 2px 2px 5px 0 darkgrey;
}

.reset button {
    width: 65px;
    background-color: darkorange;
    color: black;
    border: 1px solid darkorange;
    cursor: pointer;
}


.fruitCounter {
    margin: 5px;
    padding: 5px;
    width: 250px;
    border: 2px solid darkgrey;
    border-radius: 2px;
    background-color: #f5eda4;
    
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: flex-end;

}
